<div class="flex h-screen">
  <div class="flex-shrink-0">
    <app-sidebar-management
      [userEmail]="currentUserEmail"
      [activeMenuItem]="activeMenuItem"
      (menuItemSelected)="onMenuItemSelected($event)"
      (signOutClicked)="onSignOut()"
    >
    </app-sidebar-management>
  </div>

  <div class="flex-1 overflow-hidden p-4">

    <app-chatbot
      *ngIf="activeMenuItem === 'agent'"
      class="h-full"
    ></app-chatbot>
    <app-create-account
      *ngIf="activeMenuItem === 'create-account'"
      class="h-full"
    ></app-create-account>
     <app-room
      *ngIf="activeMenuItem === 'room'"
      class="h-full"
    ></app-room>
  </div>
</div>
