<div class="flex h-screen">
  <div class="flex-shrink-0">
    <app-sidebar-management
    [userImage]="currentUserImage"
    [userEmail]="currentUserEmail"
    [activeMenuItem]="activeMenuItem"
    (menuItemSelected)="onMenuItemSelected($event)"
    (historyItemSelected)="onHistoryItemSelected($event)"
    (signOutClicked)="onSignOut()">
    </app-sidebar-management>
  </div>

  <div class="flex-1 bg-[#2E2E2E] overflow-hidden">
    <div *ngIf="activeMenuItem === '' && !selectedConversation" class="flex items-center justify-center h-full">
      <div class="text-center">
        <h1 class="text-4xl font-light text-white mb-4">
          Xin chào ....
        </h1>
      </div>
    </div>

    <app-mail *ngIf="activeMenuItem === 'mail'" class="h-full"></app-mail>
    <app-schedule *ngIf="activeMenuItem === 'schedule'" class="h-full"></app-schedule>
    <app-create-account *ngIf="activeMenuItem === 'create-account'" class="h-full"></app-create-account>
    <app-conversation-history *ngIf="selectedConversation" [conversationData]="selectedConversation" class="h-full">
    </app-conversation-history>
  </div>
</div>
