<div class="flex h-screen">
  <div class="flex-shrink-0">
    <app-sidebar-user
      [userEmail]="currentUserEmail"
      [activeMenuItem]="activeMenuItem"
      (menuItemSelected)="onMenuItemSelected($event)"
      (meetingSelected)="onMeetingSelected($event)"
      (signOutClicked)="onSignOut()"
    >
    </app-sidebar-user>
  </div>

  <div class="flex-1 bg-[#F9FAFB] overflow-hidden">
    <div
      *ngIf="!selectedMeeting && activeMenuItem !== 'agent' && activeMenuItem !== 'room' && activeMenuItem !== 'edit'"
      class="flex items-center justify-center h-full"
    >
      <div class="text-center">
        <h1 class="text-4xl font-semibold text-slate-900 mb-4">
          Xin chào:  {{ currentUserEmail }}
        </h1>
      </div>
    </div>
    <app-chatbot
      *ngIf="activeMenuItem === 'agent'"
      class="h-full"
    ></app-chatbot>
    <app-room
      *ngIf="activeMenuItem === 'room'"
      class="h-full"
    ></app-room>
    <app-edit-profile
      *ngIf="activeMenuItem === 'edit'"
      class="h-full"
    ></app-edit-profile>
    <app-user-detail-schedule
      *ngIf="selectedMeeting"
      [selectedMeeting]="selectedMeeting"
      [userEmail]="currentUserEmail"
      (signOutClicked)="onSignOut()"
      class="h-full"
    >
    </app-user-detail-schedule>
  </div>
</div>
